html, body {
    padding-top: 40px;
    padding-bottom: 0px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#wrap {
    height: 100%;
    background-color: darkgray;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
}

.footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 20px;
}

.mynavbar {
    height: 80px;
    padding-bottom: 0px;
}

.profile-dropdown {
    font-weight: bold;
}

.mynavbar-header {
    padding-top: 10px;
}

.logo {
    vertical-align: middle;
}

.music {
    margin-top: 12%;
}

.buttons {
    font-size: 72px;
}

.blacklist-button {
    margin-left: 65%;
    margin-top: 90%;
}

.next-track-button {
    margin-top: 90%;
    margin-left: 10%
}