@model IList<GetYourJam_Working_Title_.Models.FacebookViewModel>
@{
    ViewBag.Title = "Liked artists";
}

<h2>My artist likes</h2>

@if (Model.Count > 0)
{
    <div class="row">
        @foreach (var artistLike in Model)
        {
            <div class="col-md-3">
                <a href="http://facebook.com/profile.php?id=@artistLike.Id" class="thumbnail" target="_blank">
                    <img src="@artistLike.Image" alt="@artistLike.Name" />
                </a>
                <div>
                    <p>@artistLike.Name</p>
                </div>
            </div>
        }
    </div>
}