@using System.Diagnostics

@{
    ViewBag.Title = "Index";
}


<script type="text/javascript">
    @{
        string safeJsonString = ViewBag.Tracks;
        safeJsonString = safeJsonString.Replace("\\", "\\\\").Replace("'", "\\'");
    }
    var firstTrack = '@ViewBag.First';
    var tracks = JSON.parse('@Html.Raw(safeJsonString)');
</script>
<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>

<div class="music row">
    <div class="col-md-3 buttons">
        <div class="blacklist-button" title="Blacklist track">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="scWidget">
            <iframe class="SCiframe" width="580" height="580" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/@ViewBag.First&amp;auto_play=true&amp;buying=true&amp;liking=true&amp;download=true&amp;sharing=true&amp;show_artwork=true&amp;show_comments=false&amp;show_playcount=false&amp;show_user=true&amp;hide_related=true&amp;visual=true&amp;start_track=0&amp;callback=true"></iframe>
        </div>
        <div class="volume">
            <div class="volume-icon">
                <span class="glyphicon glyphicon-volume-up"></span>
            </div>
            <div class="volume-control">
                <div id="sliderObj"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3 buttons">
        <div class="next-track-button" title="Next track">
            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/main.js"></script>