@using System.Diagnostics

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Hello, @CurrentUserClaims.UserName
</p>

<p>
    <a href="@Url.Action("Logout", "Home")">Log Out</a>
</p>

<script type="text/javascript">
    @{
        string safeJsonString = ViewBag.Tracks;
        safeJsonString = safeJsonString.Replace("\\", "\\\\").Replace("'", "\\'");
    }
    var myVariable = "lol";
    var tracks = JSON.parse('@Html.Raw(safeJsonString)');
</script>